body {
  font-family: "Monda", sans-serif;
  background-color: #0a192f;
  color: #fffffe;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  color: #fffffe;
  text-decoration: none;
  vertical-align: middle;
}

a:hover {
  color: #64ffda;
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  display: inline-block;
  border: 1px solid #64ffda;
  background-color: transparent;
  border-radius: 5px;
  color: #64ffda;
  padding-block: 0.35rem;
}

.button:hover {
  background: #64ffdb1c;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.form {
  background-color: #1e2f49;
}

@media screen and (max-width: 576px) {
  .py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
